<h2>Showing comment</h2>

<p>
  <b>Username:</b>
  <%=h @comment.username %>
</p>

<p>
  <b>Email address:</b>
  <%=h @comment.email_address %>
</p>

<p>
  <b>Content:</b>
  <%=h @comment.content %>
</p>

<%= link_to 'Back', "/backend/comments" %>