<h2>Showing contact message</h2>

<p>
  <b>Username:</b>
  <%=h @contact_message.username %>
</p>

<p>
  <b>Email address:</b>
  <%=h @contact_message.email_address %>
</p>

<p>
  <b>Content:</b>
  <%=h @contact_message.content %>
</p>

<%= link_to 'Back', "/backend/contact_messages" %>